<table class="table table-hover table-sm text-center" *ngIf="sheet">
  <thead>
    <tr>
      <th rowspan="2">Students</th>
      <th *ngFor="let subj of sheet.subjects" colspan="3">
        {{ subj.subject.name }}
      </th>
    </tr>
    <tr>
      <ng-container *ngFor="let subj of sheet.subjects">
        <th>1ST</th>
        <th>2ND</th>
        <th>SFG</th>
      </ng-container>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let student of sheet.students">
    <td>{{ student.name }}</td>
    <ng-container *ngFor="let subj of sheet.subjects">
      <td>{{ student.grades[subj.subject.id]?.first ?? ' ' }}</td>
      <td>{{ student.grades[subj.subject.id]?.second ?? ' ' }}</td>
      <td>{{ student.grades[subj.subject.id]?.ave ?? ' ' }}</td>
    </ng-container>
  </tr>
</tbody>

</table>

<div
  *ngIf="loading"
  class="d-flex justify-content-center align-items-center my-5"
  style="min-height: 150px"
>
  <div class="spinner-border text-primary" role="status"></div>
</div>
