<!-- <div class="table-responsive-lg"> -->
  <table class="table table-hover table-sm text-center" *ngIf="sheet">
  <thead>
    <tr>
      <th rowspan="2">Students</th>
      <th *ngFor="let subj of sheet.subjects" colspan="3">
        {{ subj.subject.name }}
      </th>
    </tr>
    <tr>
      <ng-container *ngFor="let subj of sheet.subjects">
        <th>1st</th>
        <th>2nd</th>
        <th>Ave</th>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of sheet.students">
      <td>{{ student.account.lastname }}, {{ student.account.firstname }}</td>
      <ng-container *ngFor="let subj of sheet.subjects">
        <!-- placeholder grades, you can replace with real quiz/score data -->
         <!-- first quarter grade per student per subject -->
        <td>-</td>
        <!-- second quarter grade per student per subject -->
        <td>-</td>
        <!-- ave of 2 quarter grade per student per subject -->
        <td>-</td>
      </ng-container>
    </tr>
  </tbody>
</table>

<!-- </div> -->

<div *ngIf="loading" class="d-flex justify-content-center align-items-center my-5" style="min-height: 150px;">
  <div class="spinner-border text-primary" role="status"></div>
</div>