<ul class="nav nav-tabs rounded-0 py-4 subnav">

  <!-- FIRST SEMESTER DROPDOWN -->
  <li class="nav-item dropdown flex-grow-1 text-center">
    <a 
      class="nav-link dropdown-toggle" 
      routerLink="FIRST SEMESTER" 
      routerLinkActive="active" 
      id="firstQuarter" 
      role="button"
    >
      FIRST SEMESTER
    </a>
  </li>

  <!-- SECOND QUARTER DROPDOWN -->
  <li class="nav-item dropdown flex-grow-1 text-center">  
    <a 
      class="nav-link dropdown-toggle" 
      routerLink="SECOND SEMESTER" 
      routerLinkActive="active" 
      id="secondQuarter"
      role="button"
    >
      SECOND SEMESTER
    </a>
  </li>
</ul>

