<ul class="nav justify-content-end py-3 subnav">
  <li class="nav-item">
    <a 
      class="btn btn-sm btn-outline-primary mx-1 rounded-pill" 
      routerLink="FIRST SEMESTER" 
      routerLinkActive="active btn-primary text-white"
    >
      First Semester
    </a>
  </li>

  <li class="nav-item">
    <a 
      class="btn btn-sm btn-outline-primary mx-1 rounded-pill" 
      routerLink="SECOND SEMESTER" 
      routerLinkActive="active btn-primary text-white"
    >
      Second Semester
    </a>
  </li>
</ul>
