<div class="app-container d-flex" [ngClass]="{ 'bg-light': account }">
  <!-- main nav -->
  <nav
    class="text-white sidebar p-3 vh-100 flex-shrink-0"
    *ngIf="account"
    style="width: 200px; background-color: rgb(0, 0, 70);"
  >
    <div class="mt-2 mb-4 text-center">
      <h4
        class="fw-bold"
        style="letter-spacing: 1px; cursor: pointer"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        SENIOR HIGH GRADING SYSTEM
      </h4>
    </div>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link text-white">Dashboard</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLink="/profile"
          routerLinkActive="active"
          class="nav-link text-white"
          >Profile</a
        >
      </li>
      <li *ngIf="account.role === Role.Admin" class="nav-item">
        <a routerLink="" routerLinkActive="active" class="nav-link text-white"
          >Accounts List</a
        >
      </li>
      <li class="nav-item" *ngIf="account.role === Role.Admin">
        <a routerLink="" routerLinkActive="active" class="nav-link text-white"
          >Subject List</a
        >
      </li>
      <li class="nav-item" *ngIf="account.role === Role.Teacher">
        <a routerLink="/subject" routerLinkActive="active" class="nav-link text-white"
          >My Subjects</a
        >
      </li>
      <li class="nav-item">
        <a
          (click)="openLogoutModal()"
          class="nav-link text-white"
          style="cursor: pointer"
          >Logout</a
        >
      </li>
    </ul>
  </nav>

  <div
    class="modal fade"
    tabindex="-1"
    [ngClass]="{ show: showLogoutModal }"
    [ngStyle]="{ display: showLogoutModal ? 'block' : 'none' }"
    role="dialog"
    aria-modal="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Confirm Logout</h3>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to logout?</p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            (click)="closeLogoutModal()"
          >
            No
          </button>
          <button type="button" class="btn btn-danger" (click)="logout()">
            Yes
          </button>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal-backdrop fade"
    [ngClass]="{ show: showLogoutModal }"
    *ngIf="showLogoutModal"
  ></div>

  <div
    class="flex-grow-1"
    [ngStyle]="!account 
      ? 
      {
          'background-image':
            'url(https://media.licdn.com/dms/image/v2/C561BAQEGwJUSWC5Dfw/company-background_10000/company-background_10000/0/1633699511389/benedicto_college_cover?e=2147483647&v=beta&t=Iiz-yGR2m0qFmUID-2wZehq_DmBizxAbccTxIoinYoc)',
          'background-size': 'cover',
          'background-position': 'center',
          'background-repeat': 'no-repeat'
        } : {}
    "
  >
    

    <!-- global alert -->
    <alert></alert>
    
    <breadcrumb-nav />
    
    
    <!-- main router outlet -->
    <router-outlet></router-outlet>
  </div>
</div>
