
<div class="w-100 d-flex justify-content-end my-3">
  <button class="btn btn-sml btn-primary" (click)="printGradeSheet()">Print Grade</button>
</div>

<div id="print-header" class="mb-4">
  <h3 class="text-center">{{ quarter }} Grade Sheet</h3>
</div>

<table class="table table-bordered table-hover table-sm">
  <thead>
    <tr>
      <th class="text-center h4" colspan="2">STUDENTS</th>
      <th class="text-center h4" colspan="3">PERCENTAGE SCORES</th>
      <th class="text-center h4" colspan="3">WEIGHTED SCORES</th>
      <th colspan="2"></th>
    </tr>

    <tr>
      <th style="width: 20%;">Lastname</th>
      <th style="width: 20%;">Firstname</th>

      <th class="text-center" style="width: 5%;">WRITTEN WORK</th>
      <th class="text-center" style="width: 5%;">PERFORMANCE TASKS</th>
      <th class="text-center" style="width: 5%;">QUARTERLY ASSESSMENT</th>

      <th class="text-center" style="width: 5%;">WRITTEN WORK</th>
      <th class="text-center" style="width: 5%;">PERFORMANCE TASKS</th>
      <th class="text-center" style="width: 5%;">QUARTERLY ASSESSMENT</th>

      <th class="text-center" style="width: 5%;">INITIAL GRADE</th>
      <th class="text-center" style="width: 5%;">TRANSMUTED GRADE</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let student of students">
      <td>{{ student.lastName }}</td>
      <td>{{ student.firstName }}</td>

      <td class="text-center">{{ student.wwPercentageScore }}</td>
      <td class="text-center">{{ student.ptPercentageScore }}</td>
      <td class="text-center">{{ student.qaPercentageScore }}</td>

      <td class="text-center">{{ student.wwWeightedScore }}</td>
      <td class="text-center">{{ student.ptWeightedScore }}</td>
      <td class="text-center">{{ student.qaWeightedScore }}</td>

      <td class="text-center font-weight-bold">{{ student.initialGrade }}</td>
      <td class="text-center font-weight-bold">{{ student.transmutedGrade }}</td>
    </tr>
  </tbody>
</table>

<div *ngIf="loading" class="d-flex justify-content-center align-items-center my-5" style="min-height: 150px;">
  <div class="spinner-border text-primary" role="status"></div>
</div>


<div class="teacher-name">
  Subject Teacher: <strong> {{ account.firstName }} {{ account.lastName }} </strong>
</div>
