<!-- 🔍 Search Bar -->
<div class="mb-3 d-flex justify-content-between">
  <h1>Subjects</h1>
  <input
    type="text"
    class="form-control w-25"
    placeholder="Search..."
    [(ngModel)]="searchTerm"
    (input)="onSearch()"
  />
</div>

<table
  class="table table-hover table-sm"
  *ngIf="!loading && filteredSubjects.length > 0"
>
  <thead>
    <tr>
      <th style="width: 5%">#</th>
      <th style="width: 20%">Subject Title</th>
      <th style="width: 10%">School Year</th>
      <th style="width: 5%">Level</th>
      <th style="width: 10%">Section</th>
      <th style="width: 10%">Semester</th>
      <th style="width: 15%">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let a of filteredSubjects; let i = index">
      <td>{{ a.id }}</td>
      <td>{{ a.subjectName }}</td>
      <td>{{ a.school_year }}</td>
      <td>{{ a.grade_level }}</td>
      <td>{{ a.section }}</td>
      <td>{{ a.semester }}</td>
      <td>
        <div class="d-flex p-1">
          <a [routerLink]="['./', a.id]" class="btn btn-sm btn-primary mx-2"
            >Compute Grades</a
          >
          <a [routerLink]="['./students', a.id]" class="btn btn-sm btn-success"
            >Assign Students</a
          >
        </div>
      </td>
    </tr>
  </tbody>
</table>

<!-- Spinner -->
<div
  *ngIf="loading"
  class="d-flex justify-content-center align-items-center my-5"
  style="min-height: 150px"
>
  <div class="spinner-border text-primary" role="status"></div>
</div>

<!-- No Data -->
<div *ngIf="!loading && (!filteredSubjects || filteredSubjects.length === 0)">
  <h3 class="text-center">No subjects found.</h3>
</div>
