<div class="pt-4 container" *ngIf="subject$ | async as subject">

  <div class="row mb-3 text-center align-items-center">
    <div class="col-md-4">
      <strong>School Name: Benedicto College</strong>
    </div>
    <div class="col-md-4">
      <strong>School Year: {{ subject.school_year }}</strong>
    </div>
    <div class="col-md-4">
      <strong>Grade: {{ subject.grade_level }}</strong>
    </div>
  </div>

  <div class="row text-center align-items-center">
    <div class="col-md-4">
      <strong>Section: {{ subject.section }}</strong>
    </div>
    <div class="col-md-4">
      <strong>Subject: {{ subject.subjectName }}</strong>
    </div>
    <div class="col-md-4">
      <strong>Teacher: {{ account.firstName }} {{ account.lastName }}</strong>
    </div>
  </div>

</div>
