
<div class="pt-4 d-flex flex-column" *ngIf="subject$ | async as subject">
  <div class="d-flex justify-content-between align-items-center mb-3 hideOnPage">
    <div>
      <img src="/assets/images/bc logo.png" height="100" alt="bc logo">
    </div>

    <div class="d-flex flex-column align-items-center">
      <h4>GRADING SHEET</h4>
      <p>(Pursuant to Deped Order 8 series of 2025)</p>
    </div>

    <div>
      <img src="/assets/images/Logo-DepEd-1.png" height="100" alt="deped logo">
    </div>
  </div>

  <div class="d-flex justify-content-around mb-3 hideOnPage">
    <strong>School ID: 449024</strong>
    <strong>Region: VII</strong>
    <strong>Division: Mandaue City</strong>
    <strong>District: South District</strong>
  </div>

  <div class="d-flex justify-content-between mb-3">
    <strong>School Name: Benedicto College</strong>
    <strong>School Year: {{ subject.school_year }}</strong>
    <strong>Grade: {{subject.grade_level}}</strong>
    <strong>Section: {{subject.section}}</strong>
  </div>

  <div class="d-flex justify-content-around ">
    <strong>Subject: {{subject.subjectName}}</strong>
    <strong>Teacher: {{ account.firstName }} {{ account.lastName }}</strong>
  </div>
</div>
