<table class="table table-bordered table-hover table-sm">
  <thead>
    <tr>
      <th style="width: 20%">Lastname</th>
      <th style="width: 20%;">Firstname</th>
      <th style="width: 5%" class="text-center">First Quarter</th>
      <th style="width: 5%" class="text-center">Second Quarter</th>
      <th style="width: 5%" class="text-center">Average</th>
      <th style="width: 5%" class="text-center">Final Grade</th>
      <th style="width: 10%" class="text-center">Remarks</th>
      <th style="width: 20%" class="text-center">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="students?.length === 0">
      <td colspan="8" class="text-center text-muted">No students enrolled yet boii.</td>
    </tr>
    <tr *ngFor="let student of students">
      <td>{{ student.lastName }}</td>
      <td>{{ student.firstName }}</td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center text-danger font-weight-bold">Failed</td>
      <td class="text-center">Did Not Meet Expectations</td>
    </tr>
  </tbody>
</table>
