<!-- <table class="table table-bordered table-hover table-sm">
  <thead>
    <tr>
      <th class="text-center" colspan="2">STUDENTS</th>
      <th class="text-center" colspan="3">PERCENTAGE SCORES</th>
      <th class="text-center" colspan="3">WEIGHTED SCORES</th>
      <th colspan="2"></th>
    </tr>

    <tr>
      <th style="width: 20%;">Lastname</th>
      <th style="width: 20%;">Firstname</th>

      <th class="text-center" style="width: 10%;">Written Work</th>
      <th class="text-center" style="width: 10%;">Performance Tasks</th>
      <th class="text-center" style="width: 10%;">Quarterly Assessment</th>

      <th class="text-center" style="width: 10%;">Written Work</th>
      <th class="text-center" style="width: 10%;">Performance Tasks</th>
      <th class="text-center" style="width: 10%;">Quarterly Assessment</th>

      <th class="text-center" style="width: 10%;">Initial Grade</th>
      <th class="text-center" style="width: 10%;">Transmuted Grade</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let student of students">
      <td>{{ student.lastName }}</td>
      <td>{{ student.firstName }}</td>

      <td class="text-center">{{ student.percentageScore }}</td>
      <td class="text-center">89</td>
      <td class="text-center">90</td>

      <td class="text-center">{{ student.weightedScore }}</td>
      <td class="text-center">89</td>
      <td class="text-center">90</td>

      <td class="text-center">10</td>
      <td class="text-center">89</td>
    </tr>
  </tbody>
</table> -->



<p>quarter right neow: {{ quarter }}</p>