<ul class="nav nav-tabs rounded-0 py-4 subnav">
  <!-- GRADES TAB -->
  <li class="nav-item flex-grow-1 text-center">
    <a 
      class="nav-link" 
      routerLink="./" 
      routerLinkActive="active" 
      [routerLinkActiveOptions]="{ exact: true }"
    >
      GRADES
    </a>
  </li>

  <!-- FIRST QUARTER DROPDOWN -->
  <li class="nav-item dropdown flex-grow-1 text-center">
    <a 
      class="nav-link dropdown-toggle" 
      routerLink="First Quarter" 
      routerLinkActive="active" 
      id="firstQuarter" 
      role="button"
    >
      FIRST QUARTER
    </a>
    <div class="dropdown-menu" aria-labelledby="firstQuarter">
      <a class="dropdown-item" routerLink="First Quarter/Written Work" routerLinkActive="active">Written Work</a>
      <a class="dropdown-item" routerLink="First Quarter/Performance Tasks" routerLinkActive="active">Performance Tasks</a>
      <a class="dropdown-item" routerLink="First Quarter/Quarterly Assesment" routerLinkActive="active">Quarterly Assessment</a>
    </div>
  </li>

  <!-- SECOND QUARTER DROPDOWN -->
  <li class="nav-item dropdown flex-grow-1 text-center">  
    <a 
      class="nav-link dropdown-toggle" 
      routerLink="Second Quarter" 
      routerLinkActive="active" 
      id="secondQuarter"
      role="button"
    >
      SECOND QUARTER
    </a>
    <div class="dropdown-menu" aria-labelledby="secondQuarter">
      <a class="dropdown-item" routerLink="Second Quarter/Written Work" routerLinkActive="active">Written Work</a>
      <a class="dropdown-item" routerLink="Second Quarter/Performance Tasks" routerLinkActive="active">Performance Tasks</a>
      <a class="dropdown-item" routerLink="Second Quarter/Quarterly Assesment" routerLinkActive="active">Quarterly Assessment</a>
    </div>
  </li>
</ul>

