<div class="py-2 px-4">
  <h1>E-Grade</h1>

  <div class="form-group col-md-4">
    <label for="schoolTerm">School Term</label>
    <select id="schoolTerm" class="form-control" onchange="">
      <option value="">-- Select School Term --</option>
      <option value="1st sem sy 2025-2026">
        1st Semester S.Y. 2025 - 2026
      </option>
      <option value="2nd sem sy 2025-2026">
        2nd Semester S.Y. 2025 - 2026
      </option>
    </select>
  </div>

  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th style="width: 50%">Subject Name</th>
        <th style="width: 5%">1st Qtr</th>
        <th style="width: 5%">2nd Qtr</th>
        <th style="width: 5%">Final</th>
      </tr>
    </thead>
    <tbody>
      <td>Oral Communication</td>
      <td>90</td>
      <td>89</td>
      <td>90</td>
    </tbody>
  </table>
</div>
