<div class="py-2 px-4">
  
  <div class="d-flex justify-content-between mb-3">
    <strong>Name: Kurt Buset</strong>
    <strong>Course: STEM</strong>
    <strong>Curriculumn Year: 1</strong>
    <strong>School: Benedicto College</strong>

  </div>

  <table class="table table-bordered table-hover table-sm">
    <thead>
      <tr>
        <th class="text-center align-middle h5" rowspan="2">SUBJECTS</th>
        <th class="text-center h5" colspan="2">QUARTER</th>
        <th class="text-center align-middle h5" rowspan="2">FINAL RATING</th>
        <th class="text-center align-middle h5" rowspan="2">ACTION TAKEN</th>
      </tr>
      <tr>
        <th class="text-center">First</th>
        <th class="text-center">Second</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th colspan="5">Core Subjects</th>
      </tr>
      <tr>
        <td>Oral Communication</td>
        <td class="text-center">87</td>
        <td class="text-center">85</td>
        <td class="text-center">PASSED</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
